.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 0rem;
    padding-left: 0rem
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.h-10 {
  height: 2.5rem
}

.h-\[70vh\] {
  height: 70vh
}

.h-\[20vh\] {
  height: 20vh
}

.h-\[30vh\] {
  height: 30vh
}

.h-\[40vh\] {
  height: 40vh
}

.h-\[50vh\] {
  height: 50vh
}

.h-\[62vh\] {
  height: 62vh
}

.h-80 {
  height: 20rem
}

.min-h-screen {
  min-height: 100vh
}

.w-full {
  width: 100%
}

.flex-grow {
  flex-grow: 1
}

.list-disc {
  list-style-type: disc
}

.list-decimal {
  list-style-type: decimal
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.border-2 {
  border-width: 2px
}

.bg-\[\#141316\] {
  --tw-bg-opacity: 1;
  background-color: rgb(20 19 22 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-cover {
  background-size: cover
}

.bg-top {
  background-position: top
}

.bg-center {
  background-position: center
}

.fill-black {
  fill: #000
}

.fill-blue-500 {
  fill: #3b82f6
}

.p-4 {
  padding: 1rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.text-center {
  text-align: center
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.leading-none {
  line-height: 1
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.underline-offset-1 {
  text-underline-offset: 1px
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.alignfull {
  margin: 2rem calc(50% - 50vw) !important;
  max-width: 100vw !important;
  width: 100vw
}

.alignwide {
  margin: 2rem 0;
  max-width: 1280px !important
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%
}

.aligncenter {
  margin: 0.5rem auto;
  display: block
}

@media (min-width: 640px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem;
    float: left
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem;
    float: right
  }

  .wp-block-button.alignleft a {
    float: left;
    margin-right: 1rem
  }

  .wp-block-button.alignright a {
    float: right;
    margin-left: 1rem
  }
}

.wp-caption {
  display: inline-block
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1
}

.wp-caption-text {
  font-size: 0.875rem;
  color: #4b5563
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.wp-block {
  max-width: 1280px
}

.wp-block[data-align=wide] {
  max-width: 1280px
}

.wp-block[data-align=full] {
  max-width: 100%
}

@media (min-width: 768px) {
  .md\:text-\[8rem\] {
    font-size: 8rem
  }

  .md\:text-xl {
    font-size: 1.25rem
  }
}